# FlexiToggle Configuration
FLEXITOGGLE_API_URL=http://localhost:5078
FLEXITOGGLE_PROJECT_KEY=seu-projeto-key
FLEXITOGGLE_ENVIRONMENT=production

# Application Configuration
PORT=3001
NODE_ENV=development
